
<div id="container">
  <div id="header"></div>
  <div id="body"></div>
  <div id="footer">
    <div id="emoji-attachment">
      <img src="assets/images/smile.svg" alt="">
      <img style="margin-top: 5px;" src="assets/images/attachment.svg" alt="">
    </div>
    <div id="textarea">
      <input type="text" placeholder="Type a message"  (input)="writeMessage($event)">
    </div>
    <div id="micIcon">
      <img src="assets/images/mic.svg" alt="" *ngIf="!isSendEnable">
      <img style="margin-top: 5px;" src="assets/images/send.svg" alt="" *ngIf="isSendEnable">
    </div>
  </div>
</div>
