
<div id="container">
  <div id="header">
    <div class="avatarSection">
      <div class="picture">
        <img src={{conversationEvent.picture}} alt=""/>
      </div>
      <div class="nameSection">
        <div class="name">{{conversationEvent.name}}</div>
        <div class="online">last seen today at 16:54</div>
      </div>
    </div>
    <div class="avatarButtons">

      <div class="common">
        <img src="assets/images/search.svg" alt="Search-icon">
      </div>
      <div class="common">
        <img src="assets/images/vertical_dotted_menu.svg" alt="Menu">
      </div>
    </div>
  </div>
  <div id="body">
    <div class="messages" [ngClass]="{me:item.me}" *ngFor="let item of conversationEvent.messages">
      <div class="messageData">{{item.body}}
        <div class="time">{{item.time}}</div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="emoji-attachment">
      <img src="assets/images/smile.svg" alt="">
      <img style="margin-top: 5px;" src="assets/images/attachment.svg" alt="">
    </div>
    <div id="textarea">
      <input type="text" placeholder="Type a message" (keyup.enter)="sendMessage($event)"  (input)="writeMessage($event)">
    </div>
    <div id="micIcon">
      <img src="assets/images/mic.svg" alt="" *ngIf="!isSendEnable">
      <img style="margin-top: 5px;" src="assets/images/send.svg" alt="" *ngIf="isSendEnable">
    </div>
  </div>
</div>
